mindquarry-persistence/trunk/teamspace/teamspace-types/src/main/xsd/teamspace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://www.mindquarry.com/ns/schema/teamspace"
	xmlns:tn="http://www.mindquarry.com/ns/schema/teamspace"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified" elementFormDefault="qualified">

	<xs:element name="teamspace" type="tn:Teamspace" />

	<xs:complexType name="Teamspace">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
